@media screen and (min-width: 700px) {

    /* HIDE HAMBURGER */

    #menu {
        display: none;
    }

    /* NAVIGATION */

    nav {
        display: flex;
        width: auto;
        flex-direction: row;
        margin-top: 0;
        gap: 0.5rem;
    }

    nav a {
        padding: 0.7rem 1.2rem;
    }

    /* MAIN */

    main {
        padding: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    /* TEMPLE GRID */

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    /* IMAGES */

    figure img {
        aspect-ratio: 4 / 3;
    }
}
